
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}


.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    color: white;
    background-color: #1F2937;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;

 }

 .logo div {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;

 }

 .links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}


.links ul li {
    display: inline;
}


.links ul li a {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 18px;
}

.links ul li a:hover {
    color: rgb(83, 82, 82);
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #1F2937;
}

.container {
    padding: 0px 0px 0px 100px;
    max-width: 500px;  
}

.top-header {
    font-size: 48px;
    margin: 0;
    font-weight: bold;
    color: #F9FAF8;
}

.top-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 20px 0;
}

.sign-up-button{
    background-color: #3882f6;
    color: #F9FAF8;
    border: none;
    padding: 5px 15px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
}

.sign-up-button:hover {
    background-color: darkblue;
}

.image-lion{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
    border-radius: 10px;
    max-width: 100%;
    
}

.rounded-image {
    border-radius: 0px; 

}
  /* Darkblue section ends here */

.section-title{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    padding: 0;

}

.rounded-images {
    border-radius: 10px; 
    border: 5px solid blue;
    max-width: 100%;
    height: 150px;
    text-align: center;

    

}

.content-mid{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-top: 2px;
    padding-right: 200px;
    padding-left: 200px;
    align-content: center;
   
}


.item {
    text-align: center;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0;
    
    
}

.image {
    height: auto;
    max-width: 100%;
    
}

.text-wrapper {
    flex-direction: column;
    justify-content: flex-end; 
    max-width: 180px; 
}

.item .text {
    font-size: 0.9em;
    color: #666;
    display: flex;
    max-width: 250px;
    text-align: center;

}

  /* content-mid section ends here */

.quote-section{

    background-color: #E5E7EB;
    padding: 70px 5px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 10px;
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 20px;
    text-align: center;
    margin: 0 auto;

}
.quote-author{
    font-size: 1.2em;
    font-weight: bolder;
    display: flex;
    text-align: right;
    display: flex;
    padding: 0%;
    padding-left: 480px;
}


  /* content-mid section ends here */

.last-section{
    display: flex;
    padding: 50px;
    padding-left: 200px;
    justify-content: space-between;

    
}

  .cta-container {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    margin: 30px;
    margin-top: 10px;
    justify-content: space-between;
    padding: 20px 110px 20px 110px;
    width: 600px; 
    display: flex;
    
    
}

.text-container{
    display: flex;
    flex-direction: column;
}
.text-container h2 {
    margin: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
}
.text-container p {
    margin: 0;
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 20px;
}

.cta-container .cta-button {
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    margin-top: 30px;

}

.cta-button{
    display: flex;
    align-content: center;
}

.cta-container .cta-button:hover {
    background-color: darkblue;
}

.footer{
    background-color: #E5E7EB;
    padding: 30px;
    padding-left: 500px;

}

.footer.footer-txt{
    display: flex;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}